{% extends "listing/listing_base.html" %}

{% block schools_body %}
<h1>This is a list of schools!</h1>

{% if school_list %}
<table class="table table-striped">
  <th>School Name</th>
  <th>Location</th>
  <th>Number of Students</th>
  {% for school in school_list %}
  <tr>
    <td><a href="schools/{{school.name}}/">{{school.name}}</a></td>
    <td>{{school.location}}</td>
    <td>{{school.students_counter}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Nothing is here yet. Press button below to create a new school.</p>
{% endif %}

<a href="{% url "listing:create_school" %}" class="btn btn-sm btn-outline-primary">Add new</a>

{% endblock schools_body %}
