{% extends "listing/listing_base.html" %}

{% block schools_body %}
<h1>This is a list of students!</h1>


{% if student_list %}
<table class="table table-striped">
  <th>Student Name</th>
  <th>School</th>
  {% for student in student_list %}
  <tr>
    <td><a href="schools/{{student.school.name}}/{{student.pk}}">{{student.name}}</a></td>
    <td>{{student.school.name}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Nothing is here yet.</p>
{% endif %}

<div class="dropdown">
  <button class="btn btn-sm btn-primary" type="button" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add New Student
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
    <h6 class="dropdown-header">Select a School</h6>
    {% for item in schools %}
      <a class="dropdown-item" href="{% url "listing:create_student" item %}">{{item}}</a>
    {% endfor %}
  </div>
</div>

{% endblock schools_body %}
