{% extends "listing/listing_base.html" %}


{% block button %}
  <a href="{% url 'listing:schools' %}"><button type="button" class="btn btn-light btn-sm">Back</button></a>
{% endblock button %}

{% block schools_body %}
<h1>This is a list of students for {{school_name}} school!</h1>
{% if object_list %}
<ol class="list-group">
  {% for object in object_list %}

  <li class="list-group-item"><a href="{{object.pk}}">{{object.name}}</a></li>
  {% endfor %}

</ol>
{% endif %}
<li class="list-group-item"><a href="{% url 'listing:create_student' school_name %}" class="btn btn-sm btn-outline-primary">Add new</a></li>


{% endblock schools_body %}
