{% extends "listing/listing_base.html" %}



{% block button %}
  <a href="{% url 'listing:school' object.school %}"><button type="button" class="btn btn-light btn-sm">Back</button></a>
{% endblock button %}

{% block schools_body %}

<h1>This is student page!</h1>

{% if object %}
<a href="{% url 'listing:update_student' object.school object.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
<div class="card">
  <div class="card-body">
      Student Name: {{object.name}}
  </div>
</div>
<br>



{% endif %}


{% endblock schools_body %}
